<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My People</title>
    <link rel="stylesheet" href="/css/reset.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/common.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="h-wrapper c-flex_DColumn_JcC_AiCenter">
            <a href="/" class="h-title">My People</a>
        </div>
    </header>
    <main>
        <section class="m-section">
            <form class="edit_wrapper c-flex_DColumn_JcC_AiCenter" action="/update/<%= item.id %>" method="post">
                <div class="edit_divider1 c-flex_DColumn_JcC_AiCenter">
                    <p class="edit_title color_common">Remember me!</p>
                </div>
                <div class="edit_query edit_divider2 c-flex_DColumn">
                    <div>
                        <p class="edit_text edit_p_margin color_common">Name：</p>
                        <input class="edit_input_text" type="text" name="nameInfo" value="<%= item.name%>">
                    </div>
                    <div>
                        <p class="edit_text edit_p_margin color_common">Contact：</p>
                        <input class="edit_input_text" type="text" name="contactInfo" value="<%= item.contact%>">
                    </div>
                    <div>
                        <p class="edit_text edit_p_margin color_common">Memory：</p>
                        <input class="edit_input_text" type="text" name="memoryInfo" value="<%= item.memory%>">
                    </div>
                </div>
                <div class="edit_divider1 c-flex_DRow_JcC_AiCenter c-gap10">
                    <a href="/list" class="edit_cancel-button">cancel</a>
                    <input class="edit_submit-button" type="submit" value="update">
                </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="f-wrapper c-flex_DColumn_JcC_AiCenter">
            <div class="c-flex_DRow_JcC_AiCenter">
                <p class="f-text">contact：</p>
                <div class="f-sns c-flex_DRow_JcC_AiCenter">
                    <a href="" class="f-icon">
                        <i class="fa-brands fa-facebook c-f-icon f-icon1"></i>
                    </a>
                    <a href="" class="f-icon">
                        <i class="fa-brands fa-instagram c-f-icon f-icon2"></i>
                    </a>
                    <a href="" class="f-icon">
                        <i class="fa-brands fa-twitter c-f-icon f-icon3"></i>
                    </a>
                </div>
            </div>
            <div>
                <p class="f-subText">Copyright (C) 2022 Shohei Yoshida All Rights Reserved. 無断転載大丈夫
                </p>
            </div>
        </div>
    </footer>
    </div>

    <!-- <script src="../js/script.js"></script> -->
</body>

</html>