header .h-wrapper {
  background-color: #fff;
  height: calc(50px + clamp(12px, 3vw, 24px));
}
header .h-title {
  font-size: clamp(18px, 3vw, 42px);
  font-weight: bold;
  color: #fec884;
  transition: 0.8;
}
header .h-title:hover {
  -webkit-animation: bg-color 4s infinite;
          animation: bg-color 4s infinite;
  transition: 0.8;
}

@-webkit-keyframes bg-color {
  0% {
    color: #fec884;
  }
  33% {
    color: #ee7d5b;
  }
  66% {
    color: #57a5dd;
  }
  100% {
    color: #fec884;
  }
}

@keyframes bg-color {
  0% {
    color: #fec884;
  }
  33% {
    color: #ee7d5b;
  }
  66% {
    color: #57a5dd;
  }
  100% {
    color: #fec884;
  }
}
footer {
  border-top: #fff 1px dotted;
}
footer .f-wrapper {
  height: 100px;
  gap: 20px;
}
footer .f-wrapper .f-text {
  color: #fff;
  font-size: 1rem;
}
footer .f-wrapper .f-sns {
  gap: 6px;
}
footer .f-wrapper .f-sns .f-icon {
  font-size: clamp(16px, 3vw, 24px);
}
footer .f-wrapper .f-sns .f-icon .f-icon1 {
  color: var(--color_top);
}
footer .f-wrapper .f-sns .f-icon .f-icon2 {
  color: var(--color_primary);
}
footer .f-wrapper .f-sns .f-icon .f-icon3 {
  color: var(--color_secondary);
}
footer .f-wrapper .f-subText {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

main .m-section {
  margin: 100px 0;
}
main .m-section .appPageFirstContent {
  width: 35vw;
  height: 35vw;
  min-width: 290px;
  min-height: 290px;
  max-width: 580px;
  max-height: 580px;
  margin: 0 auto 30px;
  background-color: #ee7d5b;
  border-radius: 20px;
  transition: 0.5s;
}
main .m-section .appPageFirstContent:hover {
  transform: translateY(-5px);
  background-color: #fff;
  color: #ee7d5b;
}
main .m-section .appPageFirstContent:hover .c-contentHeadline {
  color: #ee7d5b;
}
main .m-section .appPageSecondContentWrapper {
  width: 35vw;
  height: auto;
  min-width: 290px;
  max-width: 580px;
  margin: 0 auto;
  justify-content: space-between;
}
main .m-section .appPageSecondContentWrapper .appPageSecondContent {
  /* width: 13vw; */
  width: calc((35vw - 30px) / 2);
  height: calc((35vw - 30px) / 2);
  min-width: 130px;
  min-height: 130px;
  max-width: 275px;
  max-height: 275px;
  /* margin: 0 auto 30px; */
  background-color: #57a5dd;
  border-radius: 20px;
  transition: 0.5s;
  color: var(--color_common);
  text-align: center;
  font-size: clamp(24px, 3vw, 48px);
}
main .m-section .appPageSecondContentWrapper .appPageSecondContent:hover {
  transform: translateY(-5px);
  background-color: #fff;
  color: #57a5dd;
}

.show_Content {
  width: 35vw;
  height: 35vw;
  min-width: 290px;
  min-height: 290px;
  max-width: 580px;
  max-height: 580px;
  margin: 0 auto 30px;
  background-color: #ee7d5b;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
}
.show_Content .show_item_name {
  width: 100%;
  height: 50%;
  font-size: clamp(24px, 3vw, 48px);
}
.show_Content .show_item_contact {
  width: 100%;
  height: 10%;
  font-size: clamp(12px, 2vw, 24px);
}
.show_Content .show_item_memory {
  width: 100%;
  height: 40%;
  font-size: clamp(12px, 2vw, 24px);
}

.new_wrapper {
  width: 35vw;
  height: calc(35vw + 30px + 17.5vw);
  min-width: 290px;
  min-height: 450px;
  max-width: 580px;
  max-height: 885px;
  margin: 0 auto 30px;
  background-color: #ee7d5b;
  border-radius: 20px;
}
.new_wrapper .new_divider1 {
  width: 90%;
  height: 16.6666666667%;
}
.new_wrapper .new_divider2 {
  width: 90%;
  height: 50%;
}
.new_wrapper .new_title {
  font-size: clamp(18px, 3vw, 42px);
}
.new_wrapper .new_query {
  justify-content: space-around;
}
.new_wrapper .new_query .new_text {
  font-size: clamp(12px, 2vw, 20px);
}
.new_wrapper .new_query .new_p_margin {
  margin-bottom: 6px;
}
.new_wrapper .new_query .new_input_text {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 2vw;
  min-height: 20px;
  text-indent: 2vw;
}
.new_wrapper .new_submit {
  background-color: #fff;
  padding: 7px 14px;
  box-sizing: content-box;
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 5px;
  transition: 0.5s;
  border: #fff 1px solid;
  color: #ee7d5b;
  font-weight: bold;
}
.new_wrapper .new_submit:hover {
  opacity: 0.9;
  transform: translateY(-5px);
  background-color: #ee7d5b;
  color: #fff;
}

.list_wrapper {
  width: 35vw;
  min-width: 290px;
  min-height: 450px;
  max-width: 580px;
  margin: 0 auto 30px;
  background-color: #57a5dd;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.list_wrapper .list_list {
  justify-content: space-between;
  color: #fff;
  margin: 0 30px;
  border: #fff 1px solid;
  padding: 1.5vw;
  border-radius: 5px;
}
.list_wrapper .list_list .name-column {
  font-size: clamp(12px, 1.5vw, 24px);
}
.list_wrapper .list_list .list_input,
.list_wrapper .list_list .list_edit {
  color: #fff;
  background-color: #57a5dd;
  border: none;
  font-size: clamp(10px, 1.5vw, 20px);
}
.list_wrapper .list_list .list_input:hover {
  opacity: 0.5;
  transform: translateY(-5px);
  transition: 0.8s;
}
.list_wrapper .list_add {
  background-color: #fff;
  padding: 7px 14px;
  box-sizing: content-box;
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 5px;
  transition: 0.5s;
  border: #fff 1px solid;
  color: #57a5dd;
  font-weight: bold;
}
.list_wrapper .list_add:hover {
  opacity: 0.9;
  transform: translateY(-5px);
  background-color: #57a5dd;
  color: #fff;
}

.m-section .edit_wrapper {
  width: 35vw;
  height: calc(35vw + 30px + 17.5vw);
  min-width: 290px;
  min-height: 450px;
  max-width: 580px;
  max-height: 885px;
  margin: 0 auto 30px;
  background-color: #ee7d5b;
  border-radius: 20px;
  font-size: clamp(10px, 2vw, 20px);
}
.m-section .edit_wrapper .edit_divider1 {
  width: 90%;
  height: 16.6666666667%;
}
.m-section .edit_wrapper .edit_divider2 {
  width: 90%;
  height: 50%;
}
.m-section .edit_wrapper .edit_title {
  font-size: clamp(18px, 3vw, 42px);
}
.m-section .edit_wrapper .edit_query {
  justify-content: space-around;
}
.m-section .edit_wrapper .edit_query .edit_text {
  font-size: clamp(12px, 2vw, 20px);
}
.m-section .edit_wrapper .edit_query .edit_p_margin {
  margin-bottom: 6px;
}
.m-section .edit_wrapper .edit_query .edit_input_text {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 2vw;
  min-height: 20px;
  text-indent: 2vw;
}
.m-section .edit_wrapper .edit_cancel-button,
.m-section .edit_wrapper .edit_submit-button {
  width: 5vw;
  background-color: #fff;
  padding: 7px 14px;
  box-sizing: content-box;
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 5px;
  transition: 0.5s;
  border: #fff 1px solid;
  color: #ee7d5b;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.m-section .edit_wrapper .edit_cancel-button:hover,
.m-section .edit_wrapper .edit_submit-button:hover {
  opacity: 0.9;
  transform: translateY(-5px);
  background-color: #ee7d5b;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */